* {
    margin: 0;
    text-decoration: none;
}

.content {
    max-width: 1280px;
    margin: auto;
}

.max-1100 {
    max-width: 1100px;
    margin: auto;
}

.max-900 {
    max-width: 900px;
    margin: auto;
}

.max-700 {
    max-width: 700px;
    margin: auto;
}

.max-400 {
    max-width: 400px;
    margin: auto;
}

.colorwhite {
    color: #fff;
}

.flexgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-jcse-aic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-jcc-aic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-jcc {
    display: flex;
    justify-content: center;
}

.flex-aic {
    display: flex;
    align-items: center;
}

.flex-jcsb {
    display: flex;
    justify-content: space-between;
}

.flex-jcsb-aic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-fdc-jcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

.acenter {
    text-align: center;
}

.aleft {
    text-align: left;
}

.aright {
    text-align: right;
}

.capitalize {
    text-transform: capitalize;
}

.font24 {
    font-size: 24px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.mt20 {
    margin-top: 10%;
}

.mr20 {
    margin-right: 20px;
}

.ml20 {
    margin-left: 20px;
}

.textupper {
    text-transform: uppercase;
}

.font15 {
    font-size: 15px;
}

.font20 {
    font-size: 20px;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
    margin: auto;
}

input,
textarea {
    outline: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    margin: 0;
}

ul {
    list-style: none;
}